/*---------------BUTTON-----------*/

.button {
	margin: 40px 0 0 0;
	min-width: 100%;
	
		.button__link{

			.button__body {
				background-color: #DB1A1A;
				max-width: 100%;
				padding: 15px;
		
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				
				@media(min-width: 75em){
					padding: 40px 100px;
				}

				.button__title {
					color: #fff;
					font-weight: 500;
					font-size: 2rem;
					line-height: 2.375rem;
					text-transform: uppercase;

					@media(min-width: 75em){
						font-size: 5rem;
						line-height: 4.5rem;
					}
				}

				.button__arrow{
					@media(min-width: 75em){
						width: 30%; 
					}

				}
			}
			 .button__body:hover {
				
				color: #ffffff;
				background-color: #fff;
				

				.button__title {
					color: #1d1d1d;
					transition: all 0.3s ease-out;
				}
			}
		}
}